<div class="header">
  <div>
    <h1 class="welcome-title">Добро пожаловать!</h1>
  </div>
  <div class="view-toggle">
    <button class="view-btn active" data-view="cards">Карточки</button>
    <button class="view-btn" data-view="list">Список</button>
  </div>
</div>

<section>

  <div class="card-container">

    <div class="card">
      <div class="card__body">
        <h2 class="card__title">Курсы</h2>
        <p class="card__progress">"картинка"</p>
      </div>
    </div>

    <div class="card">
      <div class="card__body">
        <h2 class="card__title">Тесты</h2>
        <p class="card__progress">"картинка"</p>
      </div>
    </div>

    <div class="card">
      <div class="card__body">
        <h2 class="card__title">Успеваемость</h2>
        <p class="card__progress">"картинка"</p>
      </div>
    </div>

    <div class="card">
      <div class="card__body">
        <h2 class="card__title">Профиль</h2>
        <p class="card__progress">"картинка"</p>
      </div>
    </div>

    
  </div>
</section>