<div class="header">
    <h1 class="welcome-title" id="group-title">Группа: </h1>
  </div>
  
  <div class="editor">
    <div class="form-group">
      <label for="add-email">Добавить почту</label>
      <div class="search">
        <input type="email" id="add-email" placeholder="Введите email" class="form-input">
        <button class="btn btn-primary" id="add-email-btn">Добавить</button>
      </div>
    </div>
<!--      -->
    <div class="list-container" id="group-emails-container"></div>
    
    <div class="form-actions">
      <button type="button" class="btn btn-danger" id="delete-group">Удалить группу</button>
    </div>
  </div>
